.footerContainer {
  background: #fff;
  border: 1px solid hsla(0deg, 0%, 100%, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.14);
  height: 10vh; 
  width: calc(100% - 5px);
  position: fixed;
  bottom: 0px;
  position: relative;
}

.footerText {
  display: flex;
  font-size: 1rem;
  color: #02c997;
  padding: 20px;
  justify-content: right;
}

