.head {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #07739c;
}

.navegacion {
  margin: 0 1rem;
}


.color-off{
    color:white;
    text-decoration: none;
    font-weight: 600;
    margin:0 1rem;
}

.color-off:hover{
    color:black;
}

.color-on{
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin:0 1rem;
}

.navbar-toggler{
    border: none;
    filter: invert();
}