.cart {
    display: flex;
    height: 80px;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;

}

.btn-cart {
    margin: 1.2rem;
    width: 45%;
}

.cart-img {
    max-height: 70px;
}